---
import { Link } from '../components/Link';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>New store front</h1>
		<Link href="/product/macbook" client:load>Press me!</Link>
	</main>
</Layout>
