---
import Card from '../components/Card.astro';
import Cart from '../components/Cart';
import Modal from '../components/Modal';
import Nav from '../components/Nav';
import ProductList from '../components/ProductList';
import Layout from '../layouts/Layout.astro';
---

<Modal client:load />
<Nav client:load />
<Layout title='Welcome to Astro.'>
  <main class='flex flex-col gap-8 max-w-5xl mx-auto'>
    <h1>New store front</h1>
    <ProductList client:load />
  </main>
</Layout>
