---
import PocketBase from 'pocketbase'

const client = new PocketBase('http://127.0.0.1:8090');

const userData = await client.users.authViaEmail('marco@polo.com', 'america10');

console.log({userData});
---

<h1>Login page</h1>
